@if (componentData) {
<section class="flex flex-col xl:grid xl:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:gap-10">
  <z-sidebar></z-sidebar>
  <main
    class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px] [&_h1]:text-3xl [&_h1]:font-bold [&_p]:text-base [&_p]:text-muted-foreground"
    scrollSpy
    (scrollSpyChange)="activeAnchor = $event"
  >
    <section class="flex flex-col gap-10 mx-auto w-full min-w-0 max-w-2xl mb-10">
      <header class="flex flex-col gap-5" scrollSpyItem="overview" id="overview">
        <z-markdown src="components/{{ componentData.componentName }}/doc/overview.md" [dirLineNumber]="false"></z-markdown>
      </header>

      <main class="flex flex-col gap-12" scrollSpyItem="examples" id="examples">
        <section class="flex flex-col gap-4">
          <header class="mb-5">
            <h2 class="text-2xl font-semibold mb-2">Examples</h2>
            <hr />
          </header>

          @for (item of componentData.examples; track $index) {
          <z-code-box
            [scrollSpyItem]="item.name"
            [attr.id]="item.name"
            [componentType]="item.name"
            path="{{ componentData.componentName }}/demo/{{ item.name }}"
            [dynamicComponent]="item.component"
            [onlyDemo]="item.onlyDemo"
            [column]="item?.column"
            [fullWidth]="componentData.fullWidth || false"
          ></z-code-box>
          }
        </section>
      </main>

      <hr />

      <footer scrollSpyItem="api" id="api">
        <z-markdown src="components/{{ componentData.componentName }}/doc/api.md" [dirLineNumber]="false"></z-markdown>
      </footer>
    </section>
    <z-dynamic-anchor [topicData]="pageTopics" [activeAnchor]="activeAnchor"></z-dynamic-anchor>
  </main>
</section>
}
