@if (componentData) {
<section class="flex flex-col xl:grid xl:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:gap-10">
  <z-sidebar></z-sidebar>
  <main
    class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px] [&_h1]:text-3xl [&_h1]:font-bold [&_p]:text-base [&_p]:text-muted-foreground"
    scrollSpy
    (scrollSpyChange)="activeAnchor = $event"
  >
    <section class="flex flex-col gap-10 mx-auto w-full min-w-0 max-w-2xl">
      <header scrollSpyItem="overview" id="overview">
        <z-markdown src="components/{{ componentData.componentName }}/doc/overview.md" [codeBox]="true"></z-markdown>
      </header>

      <hr />

      <main class="flex flex-col gap-4" scrollSpyItem="examples" id="examples">
        <h2 class="text-2xl font-semibold mb-4">Examples</h2>

        @for (item of componentData.examples; track $index) {
        <z-code-box
          [scrollSpyItem]="item.name"
          [attr.id]="item.name"
          [componentType]="item.name"
          path="{{ componentData.componentName }}/demo/{{ item.name }}"
          [dynamicComponent]="item.component"
          [onlyDemo]="item.onlyDemo"
        ></z-code-box>
        }
      </main>

      <hr />

      <footer scrollSpyItem="api" id="api">
        <z-markdown class="api" src="components/{{ componentData.componentName }}/doc/api.md"></z-markdown>
      </footer>
    </section>
    <z-dynamic-anchor [topicData]="pageTopics" [activeAnchor]="activeAnchor"></z-dynamic-anchor>
  </main>
</section>
}
