@import 'tailwindcss';
@import 'lucide-static/font/lucide.css';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --font-family: 'Geist', sans-serif;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --prism-background: oklch(92.34% 0 0 / 30%);
  --prism-keyword: oklch(58.79% 0.1927 20.47);
  --prism-string: oklch(31.08% 0.1012 255.87);
  --prism-function: oklch(50.15% 0.1883 294.99);
  --prism-tag: oklch(54.64% 0.1442 147.32);
  --prism-linenumber: oklch(0.2329 0 0 / 64.45%);
  --prism-linehighlight: oklch(0.2578 0 0 / 9%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --prism-background: oklch(20.44% 0 0 / 40%);
  --prism-keyword: oklch(72.14% 0.1616 15.49);
  --prism-string: oklch(82.89% 0.087661 252.4582);
  --prism-function: oklch(72.67% 0.1367 299.15);
  --prism-tag: oklch(85.12% 0.1406 150.34);
  --prism-linenumber: oklch(0.9848 0 0 / 40%);
  --prism-linehighlight: oklch(0.6214 0 0 / 10%);
}

@theme inline {
  --font-sans: var(--font-family);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .scroll::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  .scroll::-webkit-scrollbar-track {
    @apply bg-background;
  }

  .scroll::-webkit-scrollbar-thumb {
    @apply bg-primary;

    &:hover {
      @apply bg-primary/60;
    }
  }
}

markdown {
  pre {
    @apply rounded-md border border-neutral-300/50 bg-neutral-200/30 dark:border-neutral-800/60 dark:bg-neutral-900/40;
  }
}

.api {
  h2 {
    &:has(.api-type-label) {
      @apply flex items-center gap-2;
    }
  }

  blockquote {
    @apply my-4 pl-4 border-l-4 border-gray-200;

    p {
      @apply text-muted-foreground text-sm;

      code {
        @apply bg-accent rounded-sm border-none font-sans text-primary;
      }
    }
  }

  .api-type-label {
    @apply flex items-center justify-center h-6 px-3 text-xs ml-2 uppercase rounded-md;

    &.component {
      @apply bg-blue-300/10 text-blue-500 dark:bg-blue-300/10 dark:text-blue-300;
    }

    &.directive {
      @apply bg-green-300/10 text-green-500 dark:bg-green-300/10 dark:text-green-300;
    }

    &.service {
      @apply bg-yellow-300/10 text-yellow-500 dark:bg-yellow-300/10 dark:text-yellow-300;
    }
  }

  table {
    @apply w-full caption-bottom text-sm;

    thead {
      @apply [&_tr]:text-primary bg-accent;
    }

    tbody {
      @apply [&_tr:last-child]:border-0 bg-accent/20;
    }

    tfoot {
      @apply border-t bg-muted/50 font-medium [&>tr]:last:border-b-0;
    }

    tr {
      @apply border-b transition-colors hover:bg-muted/50;
    }

    th {
      @apply h-12 px-4 text-left align-middle font-medium;
    }

    td {
      @apply p-4 align-middle;

      &:first-child {
        code {
          @apply bg-blue-300/10 text-blue-500 dark:bg-blue-500/10 dark:text-blue-300;
        }
      }

      code {
        @apply bg-accent rounded-sm border-none font-sans;
      }
    }

    caption {
      @apply mt-4 text-sm text-muted-foreground;
    }
  }
}

pre {
  @apply flex bg-gray-100 my-4 p-3;

  code {
    @apply bg-transparent border-none;
  }
}

code {
  @apply mx-1 px-2 py-1 text-xs bg-muted border border-ring rounded whitespace-nowrap;
}
