<div class="bg-background relative">
  <div class="border-border relative min-h-svh w-full rounded-lg border">
    <div
      class="bg-surface absolute inset-0 h-full min-h-svh rounded-lg bg-[radial-gradient(#333437_1px,transparent_1px)] bg-size-[16px_16px]"
    ></div>
    <div class="relative flex min-h-svh justify-center">
      @if (isBrowser) {
        <iframe
          #previewIframe
          [src]="iframeUrl()"
          [style.width]="viewportWidth()"
          class="z-10 min-h-svh border-0 opacity-0 transition-[width] duration-300 ease-in-out"
          [class.opacity-100]="iframeLoaded()"
          (load)="onIframeLoad()"
        ></iframe>
      }
    </div>
  </div>
</div>
