<section class="relative flex items-stretch text-[1.05rem] sm:text-[15px] xl:w-full">
  <main class="lex min-w-0 flex-1 flex-col [&_h1]:text-3xl [&_h1]:font-bold [&_p]:text-base [&_p]:text-muted-foreground">
    <section class="flex flex-col gap-10 mx-auto w-full min-w-0 max-w-2xl mb-10">
      @if(installGuide) {
      <header>
        <h1>{{ installGuide.title }}</h1>
        <p>{{ installGuide.description }}</p>
      </header>
      }
      <main class="overflow-hidden transition-all duration-200 ease-in-out">
        <nav class="flex gap-4 border-b mb-8">
          @if(installGuide.manual.length > 0) {
          <button z-button zType="ghost" (click)="activeTab.set('manual')" class="hover:bg-transparent rounded-none border-b-primary" [class.border-b-2]="activeTab() === 'manual'">
            Manual
          </button>
          } @if(installGuide.cli.length > 0) {
          <button z-button zType="ghost" (click)="activeTab.set('cli')" class="hover:bg-transparent rounded-none border-b-primary" [class.border-b-2]="activeTab() === 'cli'">
            CLI
          </button>
          }
        </nav>
        <section class="transition-all" [class]="activeTab() === 'manual' ? 'translate-x-0' : ['-translate-x-full', 'sr-only']">
          <z-steps [steps]="installGuide.manual"></z-steps>
        </section>
        <section class="transition-all" [class]="activeTab() === 'cli' ? 'translate-x-0' : ['translate-x-full', 'sr-only']">
          <z-steps [steps]="installGuide.manual"></z-steps>
        </section>
      </main>
    </section>
  </main>
</section>
