# API Reference

[<%= selector %>] Component

<%= selector %> is a component that <%= descriptionLower %>

| Property  | Description        | Type     | Default |
| --------- | ------------------ | -------- | ------- |
| `[class]` | Custom CSS classes | `string` | `''`    |
