<section class="mb-10">
  @if (componentType()) {
    <h3 class="text-xl font-medium first-letter:uppercase">{{ componentType() }}</h3>
  }
  <main class="overflow-hidden transition-all duration-200 ease-in-out">
    <nav class="flex gap-4 mb-4">
      <button class="rounded-none text-base" (click)="activeTab.set('preview')" [class.font-semibold]="activeTab() === 'preview'">Preview</button>
      @if (!onlyDemo()) {
        <button class="rounded-none text-base" (click)="activeTab.set('code')" [class.font-semibold]="activeTab() === 'code'">Code</button>
      }
    </nav>
    <section class="transition-all" [class]="activeTab() === 'preview' ? 'translate-x-0' : ['-translate-x-full', 'sr-only']">
      <z-card
        class="min-h-74 w-full flex justify-center items-center gap-4 [&_ng-component]:gap-4 [&_ng-component]:items-center"
        [class]="{
          '[&_ng-component]:grid': column(),
          '[&_ng-component]:flex': !column(),
          '[&_ng-component]:w-full': fullWidth(),
          '[&_div:first-child]:w-full': fullWidth(),
        }"
      >
        @if (dynamicComponent()) {
          <ng-container *ngComponentOutlet="dynamicComponent() ?? null"></ng-container>
        }
      </z-card>
    </section>
    <section class="transition-all" [class]="activeTab() === 'code' ? 'translate-x-0' : ['translate-x-full', 'sr-only']">
      @if (markdownUrl()) {
        <app-markdown-renderer [markdownUrl]="markdownUrl()"></app-markdown-renderer>
      }
    </section>
  </main>
</section>
