<section class="sticky top-20 z-30 ml-auto hidden h-[calc(100svh-var(--header-height)-var(--footer-height))] w-72 flex-col gap-4 overscroll-none pb-8 xl:flex">
  <aside class="no-scrollbar hidden overflow-y-auto px-8 xl:block">
    <ul class="flex flex-col gap-2 p-2 text-sm">
      <li class="text-muted-foreground flex h-8 shrink-0 items-center text-[0.8rem] font-medium outline-hidden">
        <p class="text-muted-foreground bg-background sticky top-0 h-6 text-xs">On this page</p>
      </li>

      @for (item of navigation().items; track item.id) {
        <li>
          <a
            [class]="
              'text-muted-foreground hover:text-foreground cursor-pointer text-[0.8rem] no-underline transition-colors ' + (activeAnchor() === item.id ? 'text-primary' : '')
            "
            (click)="scrollToAnchor(item.id)"
            >{{ item.label | hyphenToSpace }}</a
          >

          @if (item.children && item.children.length > 0) {
            @for (child of item.children; track child.id) {
              <div class="mt-1 ml-4">
                <a
                  [class]="
                    'text-muted-foreground hover:text-foreground block cursor-pointer py-1 text-[0.8rem] no-underline transition-colors ' +
                    (activeAnchor() === child.id ? 'text-primary' : '')
                  "
                  (click)="scrollToAnchor(child.id)"
                  >{{ child.label | hyphenToSpace | titlecase }}</a
                >
              </div>
            }
          }
        </li>
      }
    </ul>
  </aside>
</section>
