@if (componentData) {
  <section class="flex flex-col xl:grid xl:grid-cols-[220px_minmax(0,1fr)] gap-6">
    <z-sidebar></z-sidebar>
    <main class="dynamic-component" scrollSpy (scrollSpyChange)="activeAnchor = $event">
      <section class="flex flex-col gap-10">
        <header scrollSpyItem="overview" id="overview">
          <markdown src="components/{{ componentData.componentName }}/doc/overview.md" clipboard ngPreserveWhitespaces> </markdown>
        </header>

        <hr />

        <main class="flex flex-col" scrollSpyItem="examples" id="examples">
          <markdown> ## Examples </markdown>

          @for (item of componentData.examples; track $index) {
            <z-code-box
              class="pt-4"
              [scrollSpyItem]="item.name"
              [attr.id]="item.name"
              path="{{ componentData.componentName }}/demo/{{ item.name }}"
              [dynamicComponent]="item.component"
              [onlyDemo]="item.onlyDemo"
            ></z-code-box>
          }
        </main>

        <hr />

        <footer scrollSpyItem="api" id="api">
          <markdown class="api" src="components/{{ componentData.componentName }}/doc/api.md" ngPreserveWhitespaces> </markdown>
        </footer>
      </section>
      <z-dynamic-anchor [componentData]="componentData" [activeAnchor]="activeAnchor"></z-dynamic-anchor>
    </main>
  </section>
}
