<aside class="border-grid fixed top-14 z-30 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 border-r md:sticky xl:block">
  <nav class="py-6 pr-4">
    <ul class="grid gap-2">
      @for (path of sidebarPaths; track $index) {
        <li class="text-sm">
          <a z-button zType="ghost" zFull [routerLink]="path.path" class="justify-start" routerLinkActive="bg-accent" [routerLinkActiveOptions]="{ exact: true }">
            {{ path.name }}
          </a>
        </li>
      }
    </ul>
  </nav>
</aside>
